html {
  scroll-behavior: smooth;
}

body {
  background-color: #ecedea;
  overflow-x: hidden;
}

.navbar .nav-link {
  margin-top: 10px;
  height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

a {
  color: white;
}
a.navbar-brand:hover, a.navbar-brand:active {
  color: var(--blue);
}

a.nav-link:hover, a.nav-link:active {
  color: var(--blue);
}

.carousel-item {
  height: 650px;
}

.sale {
 color: var(--red)
}
.carousel-image-1 {
  background: url('../img/ultra-5.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('../img/mobile-2.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/repare.jpg');
  background-size: cover;
}

.carousel-caption {
  backdrop-filter: blur(4px);
}

#bg-box {
  background-image: url(../img/1920-modern.jpg);
  background-attachment: fixed;
  min-height: 200px;
  position: relative;
}

.dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#what-we-do {
  background-image: url(../img/1920-modern.jpg);
  background-attachment: fixed;
  min-height: 200px;
  position: relative;
}

.banner {
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
  height: 250px;
}

#banner-2 {
  background-image: url(../img/banner.jpg);
  background-attachment: fixed;
  min-height: 200px;
  position: relative;
}

#main-footer {
  background-color: #000;
  color: #fff;;
}

.about-img {
  width: 100%;
  margin-top: 20px;
}

.isShowBtn {
  opacity: 1;
  transition: 0.7s;
}
.isShowBtn_hide {
  opacity: 0;
}

#scroll_top {
  position: fixed;
  /* display: none; */
  right: 30px;
  bottom: 30px;
  font-size: 20px;
  z-index: 11;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.list-group-item {
  background-color: rgba(88, 213, 86, 0.209);
}
